./log/*
./credentials/
./status/
./schedule/
./sam_testing/*
./minerva_library/sam_testing/*
*#
*.pyc
*.txt
*.log
*.json
*.dat
#S my guess is we won't to track images
*.png
*.pyc
*.pyc
*.pyc
*.stat
*.error
targets.csv
bstar.csv
*~
*pywinauto*
dependencies/Setup_PlateSolve3_Catalog-1.bin
credentials/directory.bak
